@model IEnumerable<Albums>

<h2>Albums</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>AlbumName</th>
        <th>RealeaseYear</th>
        <th>Artist</th>
        <th>Price</th>
        
    </tr>

    @foreach (var albums in @Model)
    {
        <tr>
            <td><a href=/Albums/ViewAlbum/@albums.AlbumID>@albums.AlbumID</a></td>
            <td>@albums.AlbumName</td>
            <td>@albums.ReleaseYear</td>         
            <td>@albums.Artist</td>
            <td>@albums.Price</td>
                      
        </tr>
    }

</table>
